<style>
  .alert.success {
      background-color:#ffedf2;
      color: green;
    }
    
    .alert.danger {
      background-color:#ffedf2;
      color:#f00;
    }
    .alert-message {
      background-color:#ffedf2;
      color: green;
    }
  </style>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class=flashes>
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
      </div>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}