<footer>

    <hr class="long"></hr>
                
    <div class="fullwidth">
                <div class="footer-devices-text">
                <center>
                        <a id="red" href="/"><p>Yourbasket Private Limited</p></a>
                        <p id="gray" class="limitwidth" >Yourbasket Pvt Ltd is an independently owned and provides food delivery services in Nepal. Contact us for specific inquires. All product and company names are trademarks of their respective holders. </p>
                        <p >&copy; 2020 YPL® Yourbasket Private Limited. All Rights Reserved. </p>
                        <a id="red" href="/">Privacy Policy   |</a>
                        <a id="red" href="/">Accessibility Statement </a>
                </center>
                
            </div>
    </div>
        
</footer>