<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{{url_for('static', filename='images/non-changing-images/favicon.png')}}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>Your basket</title>
    {% endif %}
  </head>
  <body>
    {% block content %}

    {% endblock content %}

    {% include 'footer.html' %}
    <script src="{{url_for('static', filename='js/jquery-3.4.1.slim.min.js')}}" ></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>

</html>